@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background: lightblue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    div {
        color: teal;
    }
</style>
<div class="text-center">
    <h1 class="display-4"><i>Prva Hrvatska Nogometna Liga</i></h1>
</div>
