@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        /*dodavanje slike-pozadine*/
        background-image: url('images/1hnl.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    div {
        color: white;
    }
</style>
<div class="text-center">
    <h1 class="display-4"><b><i>PRVA HRVATSKA NOGOMETNA LIGA</i></b></h1>
</div>
