@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        background: lightblue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    div {
        color: teal;
    }
</style>

<p>Use this page to detail your site's privacy policy.</p>
