@model IEnumerable<Football.Models.Team>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background: lightblue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    div {
        color: teal;
    }
</style>

<h1>Teams</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfTeam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Team_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Team_ID">Details</a> |    
            </td>
        </tr>
}
    </tbody>
</table>
